@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter/Inter-VariableFont_opsz\wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Libre Caslon Text";
  src: url(./fonts/Libre_Caslon_Text/LibreCaslonText-Regular.ttf);
}

@font-face {
  font-family: "Courier Prime";
  src: url(./fonts/Courier_Prime/CourierPrime-Regular.ttf);
}

@font-face {
  font-family: "Host Grotesk";
  src: url(./fonts/Host_Grotesk/HostGrotesk-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Mulish";
  src: url(./fonts/Mulish/Mulish-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Oswald";
  src: url(./fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Noto Sans";
  src: url(./fonts/Noto_Sans/NotoSans-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: "Nunito Sans";
  src: url(./fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\opsz\wdth\wght.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(./fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Ubuntu";
  src: url(./fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Rubik";
  src: url(./fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: "DM Sans";
  src: url(./fonts/DM_Sans/DMSans-VariableFont_opsz\wght.ttf);
}

@font-face {
  font-family: "Quicksand";
  src: url(./fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(./fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(./fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(./fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Public Sans";
  src: url(./fonts/Public_Sans/PublicSans-VariableFont_wght.ttf);
}
