@import url(fonts.css);
@import url(icons.css);
@import url(reset.css);

:root {
  --white: #fff;
  --white-hv: #f5f5f7;
  --gray: #ebebee;
  --gray-hv: #6e6e73;
  --black: #1d1d1f;
  --blue: #0066cc;
  --box-shadow: 0 1px 2px var(--gray);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; /* Właściwość ta utrudnia nawigowanie po stronie osobom niepełnosprawnym. */
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Inter", sans-serif;
}

.container-nav {
  background-color: var(--white-hv);
  box-shadow: var(--box-shadow);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1024px;
  padding-block: 16px;
}

.img-nav {
  height: 48px;
}

.container-inp-nav {
  position: relative;
}

.icon-inp-nav {
  color: var(--gray-hv);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.inp-nav {
  background-color: var(--white);
  font-family: "Inter", sans-serif;
  outline: none;
  border: 1px solid var(--gray);
  transition: all 0.2s ease;
  padding: 12px 16px 12px 42px;
  border-radius: 999px;
  font-size: 16px;
}

.inp-nav::placeholder {
  color: var(--gray-hv);
}

.inp-nav:focus {
  border-color: var(--gray-hv);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  max-width: 1440px;
  padding: 64px;
}

.container-footer {
  background-color: var(--gray);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1024px;
  padding-block: 24px;
}

.description-footer {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.link-footer:hover {
  text-decoration: underline;
}

@media (width <= 1024px) {
  .container-img-nav {
    margin-left: 64px;
  }

  .container-inp-nav {
    margin-right: 64px;
  }

  .footer {
    margin-inline: 64px;
  }
}

@media (width <= 480px) {
  .nav {
    gap: 32px;
  }

  .container-img-nav {
    margin-left: 32px;
  }

  .container-inp-nav {
    margin-right: 32px;
  }

  .inp-nav {
    width: 100%;
  }

  .container {
    padding: 32px;
  }

  .footer {
    flex-direction: column;
    gap: 12px;
  }
}
