@import url(fonts.css);
@import url(icons.css);
@import url(reset.css);

:root {
  --white: #fff;
  --white-hv: #f5f5f7;
  --gray: #ebebee;
  --gray-hv: #6e6e73;
  --black: #1d1d1f;
  --blue: #0066cc;
  --box-sh: 0 1px 2px var(--gray);
  --brd: 1px solid var(--gray);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; /* Właściwość ta utrudnia nawigowanie po stronie osobom niepełnosprawnym. */
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Inter", sans-serif;
}

.container-nav {
  background-color: var(--white-hv);
  border-bottom: 1px solid var(--gray);
  box-shadow: var(--box-sh);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1024px;
  padding-block: 16px;
}

.img-nav {
  height: 48px;
}

.container-inp-nav {
  position: relative;
}

.icon-inp-nav {
  color: var(--gray-hv);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.inp-nav {
  background-color: var(--white);
  border: none;
  font-family: "Inter", sans-serif;
  outline: none;
  border: 1px solid var(--gray);
  transition: all 0.2s ease;
  height: 40px;
  width: 256px;
  padding: 16px 16px 16px 40px;
  border-radius: 999px;
  box-shadow: var(--box-sh);
  font-size: 16px;
}

.inp-nav:focus {
  border-color: var(--gray-hv);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 64px;
}

.container-copyright {
  background-color: var(--white-hv);
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1024px;
  padding-block: 16px;
}

.description-copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.link-copyright:hover {
  text-decoration: underline;
}
